.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: var(--spacing-sm);
  font-size: 0.9rem;
}

.table th {
  text-align: left;
  font-weight: 600;
  color: var(--text-primary);
  border-bottom: 1px solid var(--border-color);
}

.table td {
  color: var(--text-secondary);
  border-bottom: 1px solid var(--border-color);
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.table th:nth-child(2),
.table th:nth-child(3),
.table td:nth-child(2),
.table td:nth-child(3) {
  text-align: right;
}

.title {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}
